<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{pageTitle}} page </title>
  </head>
  <body>
    {{> header}}
    <p>{{welcMessage}}</p>
    {{> footer}}
  </body>
</html>
